:root {
    --primary-font-color: #eeeeee;
    --primary-background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* start body */
/* using the flexbox method to keep footer correct size at bottom */
/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
body {
    height: 100vh;
    display: flex;
    flex-direction:column;
}
/* end body */


/* start header */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.header h1 {
    font-weight: bold;
    font-size: 20px;
}

.header a {
    text-decoration: none;
}

.avatar-title-box {
    display: flex;
    align-items: center;
}

.avatar-title-box h1 {
    padding: 10px;
}

.avatar-img img {
    width: 80px;
}

.header nav {
    display: flex;
    align-items: center;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    padding: 10px 15px;
}
/* end header */

/* start all-sections */
section {
    padding: 30px;
}

.section-title {
    text-align: center;
    border: 3px solid;
    padding: 10px;
    margin: auto;
    width: 50%;
}
/* end all-sections */

/* start about-me */
#about-me {
}

.about-me-content {
    padding: 10px;
}
.about-me-content p {
    border: 3px solid;
    padding: 10px;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
}
/* end about-me */

/* start work */
/* end work */

/* start contact */
/* end contact */

/* start footer */
footer {
    min-height: 50px;
    margin-top:auto;
    text-align: center;
}
/* end footer */

/* start utlilites */
/* end utilities */

/* start media queries */
/* make header smaller for iphone */
/* end media queries */